markup-lanugages/1eval/Actividad 1.1/carta.dtd

<!ELEMENT pokemon (descripcion,movimientos,combate)>
<!ELEMENT descripcion (pokedex, caracteristicas)>
<!ELEMENT movimientos (#PCDATA)>
<!ELEMENT combate (#PCDATA)>

<!ELEMENT pokedex>
<!ELEMENT caracteristicas (preevolucion, evolucion)>

<!ELEMENT tipo>
<!ATTLIST elemental>
<!ATTLIST fortalezas>
<!ATTLIST debilidades>

<!ELEMENT habilidades EMPTY>
<!ATTLIST habilidades hab1>
<!ATTLIST habilidades hab2>




