markup-lanugages/1eval/Actividad 1/pokemon.dtd

<!ELEMENT pokemon(descripcion,tipo,habilidades)>
	<!ELEMENT descripcion(pokedex, caracteristicas)>
		<!ELEMENT pokedex (#PCDATA)>
		<!ELEMENT caracteristicas (#PCDATA)>
	<!ELEMENT tipo>
	<!ATTLIST tipo elemental CDATA
					fortalezas CDATA
					debilidades CDATA>
	<!ELEMENT habilidades EMPTY>
	<!ATTLIST habilidades hab1 CDATA #REQUIRED hab2>